@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li,
a,
button {
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #DDDDDD;
    text-decoration: none;
    align-items: left;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: linear-gradient(180deg, #003333, #ffffff04);
}

.logo {
    cursor: pointer;
    height: 50px;
    align-items: left;
}


.nav_links {
    display: flex;
    list-style: none;
    color: #003333;
    margin: 0px 20px;
}

.nav_links li {
    margin: 0px 20px;
    padding: 10px 5px;
    transition: all 300ms linear;
    
}

.nav_links .active {
    border-bottom: 3px solid white;
}

.nav_links li:hover {
    border-bottom: 3px solid white;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #ffffff;
}

.nav_links li a:hover {
    color: #ffffff;
}

.signin ,.join {
    padding: 5px 15px;
    color: #003333 !important;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-bottom: 0px;
    font-weight: bold;
    
}

.join:hover ,.signin:hover {
    background-color: rgba(221, 221, 221, 0.747);
}

body {
    height:100vh;
    width:100vw;
    background-image: linear-gradient(90deg, #003333, #ffffff04), url("imgs/background.jpg");
    background-size: cover;
}

.home_text {
    display: flex;
    flex-direction: column;
    margin:auto 0px;
    margin-left: 5%;
    margin-top: 7%;
    height: fit-content;
    gap: 7px;
}

h1 {
    color: rgba(221, 221, 221, 0.7);
    font-family: "Cairo", sans-serif;
    font-size: 13;
    line-height: 1.3;
    width: 570px;
}

h2{
    color: rgba(221, 221, 221, 0.6);
    font-family: "Cairo", sans-serif;
    font-size: 15px;
}


.join {
    width: fit-content;
    border-raduis: 20px;
    
}

#hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: #DDDDDD;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li{
    margin-bottom: 10px;
}

@media (max-width: 730px){
    .nav_links {
            display: flex;
            margin: 0px 10px;
            padding: 5px 2px;
            font-size: 7px;
            transition: all 300ms linear;
            list-style: none;
            color: #003333;
            margin: 0px 20px;
        }
}

@media (max-width: 730px){

    body {
        height:100vh;
        width:100vw;
        background-image: linear-gradient(90deg, #003333, #ffffff04), url("imgs/mobile_bg.jpg") cover;
    }


    .logo {
        cursor: pointer;
        height: 35px;
        align-items: left;
    }

    .nav_links {
        display: none;
        
    }

    #hamburger-icon{
        display: block;
    }

}